/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font: 'IBM Plex Mono';
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --accent-color: #ff0070;
  --page-header-color: #DB00FF;
  --padding: 10px;
  --title-color: #ff0070;
  --link-color: #ff0070;
  --decor-color: #000028;
  --button-color: #ff0070;
  --rec-visibility: visible;
}

